* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(150, 25, 25);
}

button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    &[disabled] {
        cursor: not-allowed;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
}